console-programlama/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
console-programlama/obj/Debug/net5.0/apphost
console-programlama/obj/Debug/net5.0/console-programlama.assets.cache
console-programlama/obj/Debug/net5.0/console-programlama.csproj.AssemblyReference.cache
console-programlama/obj/Debug/net5.0/console-programlama.GeneratedMSBuildEditorConfig.editorconfig
